.add-deck {
  display: flex;
  background: #929292;
  input {
    flex: 1;
    padding: 10px;
    border: 3px solid #cbcbcb;
    outline: none;
    transition: border 0.2s linear 0s;
    font-size: 1em;
    margin: 5px;
    &:focus {
      border: 3px solid #979797;
    }
  }
  button {
    color: #ffffff;
    background: #949494;
    font-size: 2.5em;
    font-weight: 600;
    border: 0;
    outline: none;
    cursor: pointer;
    transition: background 0.2s linear 0s;
    border-radius: 23px;
    min-width: 46px;
    margin: 5px 5px 5px 0;
    &:hover {
      background: #6f6f6f;
    }
  }
}
.decks {
  height: calc(100% - 43px);
  overflow-y: auto;
  .deck-item {
    padding: 10px;
    border: 1px solid #cbcbcb;
    margin: 5px;
    box-shadow: 1px -1px 2px 1px #cbcbcb;
    .head {
      .name {
        font-size: 1.5em;
      }
      .delete, .edit {
        cursor: pointer;
        float: right;
        margin-top: 5px;
      }
      .edit {
        margin-right: 10px;
      }
    }
    .edit-mode {
      input {
        margin: 0;
      }
    }
    .action-buttons {
      display: flex;
      border-top: 1px solid #cbcbcb;
      margin-top: 10px;
      padding-top: 10px;
      button {
        flex: 0.5;
        padding: 5px;
        font-size: 1.2em;
        font-family: sans-serif;
        border: 3px solid #cbcbcb;
        transition: border 0.2s ease-in;
        outline: none;
        background: #979797;
        color: white;
        cursor: pointer;
        &:hover {
          border: 3px solid #979797;
        }
      }
    }
  }
}
.no-deck {
  display: block;
  padding: 5px;
  text-align: center;
}