.cards-container {
  height: 100%;
  .header {
    padding: 8px;
    background: #929292;

    .go-back {
      cursor: pointer;
      position: absolute;
      top: 15px;
    }
    .title {
      display: flex;
      justify-content: center;
      color: #ffffff;
      font-size: 1.5em;
      margin: 3px;
    }
    .play {
      position: absolute;
      right: 10px;
      cursor: pointer;
      color: #ffffff;
      font-size: 14px;
      top: 17px;
    }
  }
  .no-card {
    margin: 15px;
    display: block;
    font-size: 1em;
    text-align: center;
  }
  .card-item {
    display: flex;
    flex-direction: column;
    margin: 5px 5px 0;
    padding: 10px;
    border: 1px solid #cbcbcb;
    box-shadow: 1px 1px 2px 1px #cbcbcb;
    .word-actions {
      display: flex;
      border-bottom: 1px solid #bfbfbf;
      padding-bottom: 5px;
      .word {
        font-size: 1.3em;
        flex: 1;
      }
      .edit, .delete {
        cursor: pointer;
      }
      .edit {
        padding: 0 10px;
      }
    }
    .meaning {
      font-size: 1.1em;
      padding: 15px 0;
    }
    .examples {
      font-style: italic;
      font-size: 0.9em;
    }
  }
  .cards {
    position: relative;
    height: calc(100% - 55px);
    overflow-y: auto;
    padding-bottom: 5px;
  }
  .add-card {
    display: inline;
    position: fixed;
    bottom: 15px;
    right: 15px;
    button {
      color: #ffffff;
      background: #6f6f6f;
      font-size: 2.8em;
      border: 0;
      outline: none;
      cursor: pointer;
      transition: background 0.2s linear 0s;
      border-radius: 0.6em;
      min-width: 1.2em;
      box-shadow: 1px 1px 2px 2px #b3b3b3;
    }
  }
}
